body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff8dc;
    margin: 0;
    padding: 50px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}